
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');
*,*::after,*::before{-moz-box-sizing:inherit;box-sizing:inherit}html{scroll-behavior:smooth}.pageinations{text-align:center}

div.display * {
    font-family: 'Overpass', sans-serif !important;
 }



html{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


body{
	font-family: Barlow;
	 box-sizing: border-box;
	 background-color: #f1f2f6;
     justify-content: center;
     align-items: center;
     margin:0;
     font-family: 'Overpass', sans-serif;
     overflow-x: hidden;
}


.empty-container{
    width: 1080px;
    height: 104px;
align-items: center;
    margin-top: 30px;
    justify-content: center;
    
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    
}

.empty-container .kh1{
    font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 147% */
align-items: center;
justify-content: center;
color: #000000;

padding: 20px 40px;


}

.empty-container1{
    width: 1080px;
    height: 239px;
align-items: center;
    margin-top: 30px;
    justify-content: center;
    
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    
}


.empty{
    width: 557px;
height: 71px;
align-items: center;
justify-content: center;
font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
/* or 147% */

padding: 20px 40px;


}

.empty .no-pro{
    color: #000000;
    font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
/* or 147% */
}

.no-btns{
    
    
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin: 20px 10px;
    
   
   

width: 193px;
height: 38px;


background: #00AEFF;
border-radius: 2px;
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

display: flex;
align-items: flex-end;

color: #FFFFFF;

border: none;
/* Inside Auto Layout */

flex: none;
order: 0;

}



@media screen and (max-width:1089px){
 .empty-container1{
     width: 1000px;
 }
}


@media screen and (max-width:1024px){
    .empty-container{
        width: 900px;
    }
}


@media screen and (max-width:971px){
.empty-container1{
    width: 800px;
}
}

@media screen and (max-width:964px){
.empty-container{
    width: 800px;
}
}

@media screen and (max-width:830px){
    .empty-container1{
        width: 700px;
        margin: 10px auto;
    }
}


@media screen and (max-width:720px){
    .empty-container{
        width: 650px;
    }
}



@media screen and (max-width: 680px){

    .empty-container1{
        width: 650px;
    }

   
}

@media screen and (max-width: 664px){
    .empty-container{
        width: 600px;
    }
}



@media screen and (max-width: 537px){

   


    .empty-container{
        width: 500px;
    }
}




@media screen and (max-width: 525px) {


    .empty-container1{
        width: 450px;
    }

    .empty{
        width: 400px; 
        height: 50px;
    }

    .empty .no-pro,
    .empty p{
        font-size: 12px;
        
    }
}


@media screen and (max-width: 486px){
    .empty-container1{
        margin: 15px auto;
       
    }

    .empty-container{
        width: 400px;
    }

    .empty-container .kh1{
        font-size: 12px;
    }
}




@media screen and (max-width: 406px){
    .empty-container1{
width: 350px;
    }
}



@media screen and (max-width: 320px){

    .empty-container1{
        width: 300px;
    }

    .empty{
        width: 250px; 
       
    }

    .empty-container{
        width: 290px;
    }

    .empty-container .kh1{
        font-size: 12px;
    }
}

