*,*::after,*::before{-moz-box-sizing:inherit;box-sizing:inherit}html{scroll-behavior:smooth}.pageinations{text-align:center}


html{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
div.display * {
    font-family: 'Overpass', sans-serif !important;
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
	font-family: Barlow;
	 box-sizing: border-box;
	 background-color: #f1f2f6;
     justify-content: center;
     align-items: center;
     margin:0;
     font-family: 'Overpass', sans-serif;
     overflow-x: hidden;
}


.button-section{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    background: #FFFFFF;
}

.container-list{
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

/* button{
    font-size: 16px;
    height:50px;
    cursor:pointer;
    outline: none;
    border:none;
    width:17%;
    font-family: 'Overpass', sans-serif;
} */

.btn1{
    color: #f1f2f6;
    background: #00AEFF;
    font-size: 16px;
    height:50px;
    cursor:pointer;
    outline: none;
    border:none;
    width:17%;
    font-family: 'Overpass', sans-serif;
}

.btn2{
    color: #333333;
    background:transparent;
    font-size: 16px;
    height:50px;
    cursor:pointer;
    outline: none;
    border:none;
    width:17%;
    font-family: 'Overpass', sans-serif;
}




.container-box{
    width: 871px;
height: 750px;
    margin: 10px auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    position:relative;
    overflow-x: hidden;
}

.top-grid{
    display: flex;
    border-bottom: 1px solid #EAEAEA;


    

}


h2{


    padding-left: 96px;
    
    
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: #000000;
    
    }


    a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none
        ;
      }
      
      a:active {
        text-decoration: underline;
      }

h3{
    height: 14px;


font-family: Overpass;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 16px;
/* identical to box height, or 67% */
padding-top: 40px;
padding-left: 25px;
display: flex;
align-items: center;

color: #1A2B49;
}



h4{
    height: 14px;
left: 771px;
top: 36px;

font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
position: absolute;
display: flex;
align-items: flex-end;

/* Primary Colour / Blue */

color: #00AEFF;
}

.ID{

padding: 20px 30px;

font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;

/* Secondary Colour / Dark Blue */

color: #1A2B49;
}


h5{
    position: absolute;
    left: 3.9%;
right: 91.73%;
top: 23%;


font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;

/* Secondary Colour / Dark Blue */

color: #1A2B49;
}



h6{
    position: absolute;
    left: 73.94%;
right: 24%;
top: 23%;

font-family: Overpass;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;

/* Secondary Colour / Dark Blue */

color: #1A2B49;

}

.grid-1 p{
    font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;

/* Text Colour / 2 */
padding-top: 50px;
padding-left: 30px;
color: #4F4F4F;

}

.grid-2 .text-2{
    position: absolute;
    padding-left: 650px;
    top: 30%;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    /* Text Colour / 2 */
    
    color: #4F4F4F;
    
}


table, th, td {
    border: 1px solid #EAEAEA;
    border-collapse: collapse;
  }


  .cancel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    
    position: absolute;
    width: 193px;
    height: 38px;
   margin: 20px 642px;
    border: none;
    background:red;
    color: white;
    border-radius: 2px;
    
  }

  .cancel:hover {background-color: #3e8e41}

.cancel:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  .table-container{
    width: 95%;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 35px;

  }
 
  .tr-text td{
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
  }


  @media screen and (max-width: 990px) {
.container-box{
    width: 850px;
    margin: 10px auto;
}

.grid-2 .text-2{
    padding-left: 600px;
}

   
  }

@media screen and (max-width: 900px) {
    .container-box{
        width: 700px;
    }

    .grid-2 .text-2{
        padding-left: 500px;
    }

    .cancel{
        margin: 20px 400px;
    }
    
    
}

@media screen and (max-width: 808px) {
  .container-box{
      width: 650px;
  }

   .grid-2{
      flex-direction: row;
      display: flex;
      left: 7.3%;
right: 88.32%;
top: 43.65%;
bottom: 52.9%;
  }
}


   



@media screen and (max-width: 530px) {
    

    
    
}




